- var pageTitle = 'Tugas Bespoke'

include presentation-header

include menu

article#presentation

	section
		h1 Pengertian dari ATM
		p	ATM adalah kepanjangan dari Automatic Teller Machine. Secara harfiah: automatic berbicara otomatis,teller adalah petugas perbankan yang berada di lini depan melayani nasabah dalam urusan setor uang(deposit) dan tarik dana (withdraw), sedangkan machine adalah mesin. Dengan demikian dapat disimpulkan bahwa ATM adalah sebuah mesin yang secara otomatis dapat bekerja menggantikan peran dari teller yang sering kita jumpai di bank.

	
	section
		h1 Pengertian dari ATM (manfaat)
		p	Dengan adanya mesin-mesin ATM seperti ini, kita tidak perlu lagi antri di depan teller setiap membutuhkan jasa perbankan. Cukup datang ke sebuah loket yang menyediakan mesin ATM dan biasanya lokasinya ada di setiap cabang bank itu sendiri atau di tempat-tempat yang ramai dan strategis seperti lobby hotel, mal, perkantoran, dst. Dapat disimpulkan kartu ATM adalah kartu-kartu yang diterbitkan bank untuk dapat dipergunakan di mesin-mesin ATM yang ada.

		p	Pada awalnya mesin ATM hanya memiliki fasilitas menarik uang tunai. Jadi kartu ATM adalah kartu yang dipergunakan untuk menarik uang tunai lewat mesin ATM. Seiring kemajuan zaman, perkembangan teknologi dan kebutuhan manusia, menu-menu ATM pun semakin diperbanyak sehingga bisa membayar tagihan, transfer uang, membeli produk dan jasa (pulsa, token listrik, reksadana, dsb.). Perkembangan lebih lanjut adalah hadirnya mesin-mesin ATM yang juga bisa setor uang secara langsung. 
	
	section
		h2.bullet Cara Menggunakan Mesin ATM
		ul
			li 
			li 
			li 
			li 

	section
		h2.bullet Spesifikasi Tugas
		ul
			li Bentuk tim dengan anggota 3-4 orang (lebih atau kurag tidak diperbolehkan)
			li Setiap anggota adalah product owner dan developr
			li Setiap anggota akan memiliki kesempatan untuk menjadi Scrummaster
			li Pilih topik dalam bidang apapun selama tidak mengandung SARA
			li Setiap anggota harus memiliki account github dan trello
	
	section
		h2.bullet Scrummaster
		ul 
			li Scrummaster bertanggung jawab terhadap keseluruhan proses ketika dipilih.
			li Setiap tim harus memiliki sebuah log book yang mendetilkan hasil daily scrum tiap hari serta progress Sprint dan diisi oleh Scrummaster.
			li Log Book dibuat dalam format Text dan dipush ke repository oleh scrummaster.
			li Nilai dari Scrummaster dilihat dari frekuensi dan kualitas log book yang dipush.
			li Scrummaster berganti setiap 4 hari (tim 3 orang) dan 3 hari (tim 4 orang).
			li Setiap kali berganti Scrummaster maka berganti Sprint.
			li Scrummaster merangkap anggota dan tetap harus push (khusus di proyek ini).
			li Scrummaster memastikan trello dimanfaatkan.

	section
		h2.bullet Anggota
		ul
			li Anggota melakukan push setiap hari ke GitHub.
			li Nilai dari anggota akan dilihat dari frekuensi dan kualitas push.

	section
		h2.bullet Persiapan menjelang hari H
		ul
			li Pilih topik proyek
			li Buat BackLog
			li Buat Trello
			li Buat prioritas item di Backlog
			li Siapkan Burndown chart dengan excel
			li Buat Perencanaan Sprint

	section
		h2.bullet Yang dikumpulkan di hari H
		ul
			li Backlog (softcopy)
			li Burndown chart (softcopy)
			li Semua via E-Learning

include presentation-footer
include main-footer
