- var pageTitle = 'Tugas Bespoke'

include presentation-header

include menu

article#presentation

	section
		h2 Sejarah ATM
		ul		
		li Pada mulanya mesin pintar ini ditemukan oleh Don Wetzel, Vice President of Product Planning pada perusahaan Docutel (Sumber: Kompas.co.id). Kompas.co.id juga menerangkan bahwa konsep ATM pertama kali lahir pada tahun 1968, lalu prototipenya muncul setahun kemudian, dan akhirnya Ducotel mendaftarkannya pada Kantor paten pada tahun 1973.
		li Perusahaan Docutel membeli mesin ATM dari tiga orang pembuatnya, yaitu Don Wetzel, yang pada saat itu adalah seorang Vice President of Product Planning di Docutel, Tom Barnes, Kepala Mekanik dan George Chastian, seorang insyinyur listrik. Ide awalnya berasal dari Wetzel, ketika mengantre di bank.

	section
		h2 Pengertian dari ATM
		p	ATM adalah kepanjangan dari Automatic Teller Machine. Secara harfiah: automatic berbicara otomatis,teller adalah petugas perbankan yang berada di lini depan melayani nasabah dalam urusan setor uang(deposit) dan tarik dana (withdraw), sedangkan machine adalah mesin. Dengan demikian dapat disimpulkan bahwa ATM adalah sebuah mesin yang secara otomatis dapat bekerja menggantikan peran dari teller yang sering kita jumpai di bank.

	
	section
		h2 Pengertian dari ATM (manfaat)
		p	Dengan adanya mesin-mesin ATM seperti ini, kita tidak perlu lagi antri di depan teller setiap membutuhkan jasa perbankan. Cukup datang ke sebuah loket yang menyediakan mesin ATM dan biasanya lokasinya ada di setiap cabang bank itu sendiri atau di tempat-tempat yang ramai dan strategis seperti lobby hotel, mal, perkantoran, dst. Dapat disimpulkan kartu ATM adalah kartu-kartu yang diterbitkan bank untuk dapat dipergunakan di mesin-mesin ATM yang ada.

		p	Pada awalnya mesin ATM hanya memiliki fasilitas menarik uang tunai. Jadi kartu ATM adalah kartu yang dipergunakan untuk menarik uang tunai lewat mesin ATM. Seiring kemajuan zaman, perkembangan teknologi dan kebutuhan manusia, menu-menu ATM pun semakin diperbanyak sehingga bisa membayar tagihan, transfer uang, membeli produk dan jasa (pulsa, token listrik, reksadana, dsb.). Perkembangan lebih lanjut adalah hadirnya mesin-mesin ATM yang juga bisa setor uang secara langsung.

	section
		h2 Pengertian kartu ATM
		p	Kartu ATM adalah salah satu fasilitas penting bagi nasabah sebuah bank. Dengan kartu ATM seorang nasabah bisa dengan mudah melakukan transaksi penting apalagi bila anda seorang pengusaha baik pengusaha online ataupun pengusaha offline.

	section

		h2 Transaksi penting melalui ATM itu diantaranya :
		p.bullet
		ul
				li Transfer uang baik antar bank atau beda bank
				li Penarikan uang tunai
				li Pembayaran tagihan misalnya listrik telepon pdam dan lain-lain tentunya jika bank yang bersangkutan memberikan layanan ekstra dalam ATM.
				li Pengecekan saldo tabungan
				li Belanja atau pembayaran di kasir untuk tempat-tempat tertentu misalnya di mall, laboratorium di pom bensin dan lain-lain
				li Pengisian pulsa handphone


	section
		h2 Cara Menggunakan ATM
		ul
			li 1. Memasukan kartu ATM (lihat jangan sampai terbalik, bagian sisi kiri yang harus dimasukan lebih dulu jangan sampai terbalik kalau tidak anda akan malu sendiri.. kok kartunya nggak mau masuk ya...jangan sampai begitu) Pada kartu ATM tertentu biasanya ada tanda panah. Tanda panah itulah sisi yang harus dimasukan lebih dulu
			li 2. Setelah masuk kartu ATM, tunggu sampai layar meminta "masukan nomor pin rahasia".
			li 3. Masukan nomor pin dan pastikan jangan sampai ada yang mengintip, sebaiknya rapatkan tubuh anda ke mesin ATM. Baca tentang cara aman menggunakan mesin ATM
			li 4. Setelah memasukan nomor pin dengan benar, pilihlah transaksi yang diinginkan dengan menekan tombol yang ada disisi layar lurus dengan menu transaksi yang ingin dipilih misalnya "penarikan tunai" atau "transaksi lainnya" untuk melihat layanan transaksi yang lain.
			li 5. Ikuti perintah selanjutnya sesuai layar (biasanya pilih mata uang yang akan digunakan misalnya rupiah, masukan jumlah uang yang akan ditarik (kelipatan 100.000 atau 50.000, anda tidak bisa mengambil uang dari ATM seperti 22.750 mustahil..., kecuali transfer uang, baru bisa angka berapa saja)
	
	section
		h2.bullet Kelebihan ATM
		ul 
			li 
			li 
			li 
			li 
			li 
			li 
			li 
			li 

	section
		h2.bullet Kekurangan ATM
		ul
			li 
			li 
			li
			li
			li
			li
			li
			li

	section
		h2.bullet 
		ul
			li 
			li 
			li 
			li 
			li 
			li 

	section
		h2.bullet 
		ul
			li 
			li 
			li 

include presentation-footer
include main-footer
