include header

include menu

div(class="container")

	h2 		Tugas Kelompok

	p.bullet
		ul	
			li Andrian			(13.111.0801)
			li Vannysia		(13.111.1009)
			li Wesly C. Sanjaya	(13.111.0232)
			li Richard Budianto	(13.111.0330)
	

	h2 Referensi

	p.
		Sehubungan dengan proyek yang kami kerja, berikut kami listkan referensi dan bahan bahan link kami : 

	ul
		li <a href="http://www.blogduit.net/2012/08/cara-mengabil-uang-di-mesin-atm-bca.html?m=1">Cara mengambil uang dari ATM</a>
		li <a href="http://www.blogduit.net/2012/05/cara-menggunakan-kartu-atm-untuk.html?m=1">Penggunaan kartu ATM</a>
		li <a href="http://www.mafiakartukredit.com/2011/06/pengertian-kartu-atm.html">Pengertian ATM</a>
		li <a href="http://benedictusadiyanto.blogspot.com/2012/04/mengenal-lebih-dekat-mesin-atm.html?m=1">Sejarah ATM</a>



include main-footer